<div class="user-scroll-container">
    <div class="image-section">
        <button class="nav-button left" (click)="scrollLeft()">
            <i class="bx bx-left-arrow"></i>
        </button>
        <div class="user-grid" #userGrid>
            <div class="user" *ngFor="let user of users">
                <img [src]="user.image" alt="{{ user.name }}" class="avatar">
                <div class="name font-small">{{ user.name }}</div>
                <div class="role font-xsmall text-color">{{ user.role }}</div>
            </div>
        </div>
        <button class="nav-button right" (click)="scrollRight()">
            <i class="bx bx-right-arrow"></i>
        </button>
    </div>
    <div class="amount-section">
        <span class="font-small text-color">Write Amount</span>
        <span class="flex">
            <input type="text" [(ngModel)]="amount" class="amount-input">
            <button class="send-button">
                Send <i class="bx bx-send"></i>
            </button>
        </span>  
    </div>
</div>