   .card-container {
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .card1 {
       background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
       border-radius: 15px;
       color: white;
       width: 300px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   }

   .card2 {
       background: linear-gradient(135deg, #fff, #c6c5c5);
       border-radius: 15px;
       color: black;
       width: 300px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   }

   .card-type {
       font-size: xx-large
   }

   .card-header {
       justify-content: space-between;
       margin-bottom: 20px;
       display: flex;
       padding: 20px 20px 0px 20px;
   }

   .card-details {
       display: flex;
       justify-content: space-between;
       margin-bottom: 20px;
       padding: 0px 20px 0px 20px;
   }

   .card-number {
       font-size: 1 em;
       letter-spacing: 2px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 10px 20px;
   }

   .card-chip {
       height: 20px;
   }

   .card-number1{
    background: linear-gradient(135deg, #4b4b4b, #292929);
    border-radius: 0px 0px 15px 15px;
   }

   .card-number2 {
    background: linear-gradient(135deg, #ffffff, #b9b9b9);
    border-radius: 0px 0px 15px 15px;
   }

   /* Mobile View */
   @media (max-width: 768px) {
    .card-container {
            margin-bottom: 15px;
        }
   }